{% extends 'base.html.twig' %}

{% block title %}詳細-{{ post.title}}{% endblock %}

{% block body %}
    <div>{{ post.title}}</div>
    <div>{{ post.text}}</div>
    <div>{{ post.created | date('Y-m-d')}}</div>
{% endblock %}
